node_modules
dist
tsconfig.tsbuildinfo
.eslintcache
coverage
.DS_Store
.idea
build
componentDocs.json
.vscode
lerna-debug.log
docs/public/e2e-manifest.json
yarn-error.log
tests/lib/**
snippets-dev-guides.json
snippets-layout.json
snippets-components.json
